
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dashboard-7kB {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-uers-3Nw {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 28.1rem 11.1rem 28.2rem 7.3rem;
    height: 108rem;
    row-gap: 6.5rem;
    align-items: center;
    display: flex;
    width: 40rem;
    flex-direction: column;
    background-color: #5e5e5e;

    .dashboard-fv7 {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 5.4rem;
      width: calc(100% - 5.4rem);

      .dash-b35 {
        margin-right: 1.5rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-tH5 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .registration-MwM {
      width: calc(100% - 4.2rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 4.2rem;

      .new-1-V1y {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
      }
      .registration-zUX {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .members-tZu {
      width: calc(100% - 7.1rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 7.1rem;

      .users-alt-1-18j {
        margin-right: 1.5rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .members-6fy {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .plans-bsd {
      margin-right: 11.2rem;
      width: calc(100% - 11.2rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .quote-right-1-8Mm {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.2rem;
        height: 3.2rem;
      }
      .plans-pkP {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .routine-LTq {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      width: 100%;

      .calendar-clock-1-5gK {
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.2rem;
      }
      .exercise-routine-naj {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
    .logout-gg7 {
      flex-shrink: 0;
      margin-right: 9.8rem;
      width: calc(100% - 9.8rem);
      display: flex;
      align-items: flex-start;

      .sign-out-alt-1-okj {
        height: 3.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.2rem;
      }
      .logout-iMu {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-k1zf-bgb {
    box-sizing: border-box;
    padding: 18.2rem 18.3rem 25.6rem 6.8rem;
    height: 108rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-gqdm-UkP {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 5.8rem;
      height: 100%;
      row-gap: 4.1rem;

      .gym-dashboard-Beo {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.4rem;
      }
      .income-snX {
        padding: 3.5rem;
        width: 30rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
        height: 25rem;
        font-size: 3rem;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        background-color: #f56854;
      }
      .new-mem-8Cf {
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        background-color: #00c0ef;
        margin-left: 13.1rem;
        height: 25rem;
        font-size: 3rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.5rem 4.7rem 3.5rem 3.5rem;
      }
    }
    .auto-group-f6sh-9Nf {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 10.1rem;
      width: 30rem;

      .tot-mem-1fm {
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        flex-shrink: 0;
        padding: 3.5rem 4.6rem 3.5rem 2.5rem;
        font-size: 3rem;
        width: 100%;
        height: 25rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #00a65a;
        margin-bottom: 4.1rem;
        box-sizing: border-box;
      }
      .plan-eCw {
        width: 100%;
        height: 25rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        padding: 3.5rem 2.5rem;
        font-size: 3rem;
        font-weight: 600;
        white-space: nowrap;
        background-color: #0172b4;
        flex-shrink: 0;
        box-sizing: border-box;
      }
    }
  }
}
